.user-img {
  max-height: 150px;
  max-width: 150px;
  border-radius: 20%;
}
.details {
  align-content: space-around;
  align-items: center;
  justify-content: center;
}
a {
  text-decoration: none;
}

.repo {
  background: #9ba4ac;
  color: black;
  border: none;
}
