<form
  (ngSubmit)="getRepo(); searchForm.reset()"
  #searchForm="ngForm"
  class="search-form container mb-4"
>
  <label for="search">Search Repositories</label>
  <div class="fields input-group">
    <div class="search">
      <input
        class="form-control"
        type="text"
        id="search"
        [(ngModel)]="newSearch.search"
        name="search"
        #search="ngModel"
        required
      />
    </div>

    <button
      type="submit"
      [disabled]="!searchForm.form.valid"
      class="btn btn-dark"
    >
      Search
    </button>
  </div>
  <div [hidden]="search.valid || search.pristine" class="alert alert-danger">
    <p>Search field cannot be empty</p>
  </div>
</form>
<div class="container">
  <div
    *ngFor="
      let repo of repos
        | paginate
          : {
              id: 'repo_pagination',
              itemsPerPage: 5,
              currentPage: page,
              totalItems: totalRecords
            }
    "
  >
    <app-github-repo-card [repo]="repo"></app-github-repo-card>
  </div>
  <div *ngIf="repos.length > 0">
    <pagination-controls
      id="repo_pagination"
      (pageChange)="page = $event"
    ></pagination-controls>
  </div>
</div>
