<form
  (ngSubmit)="getRepo(); searchForm.reset()"
  #searchForm="ngForm"
  class="pb-5"
>
  <label for="search">Search</label>
  <input
    type="text"
    id="search"
    [(ngModel)]="newSearch.search"
    name="search"
    #search="ngModel"
  />
  <button class="btn">Search</button>
</form>
<div class="container">
  <div
    *ngFor="
      let repo of repos
        | paginate
          : {
              id: 'repo_pagination',
              itemsPerPage: 5,
              currentPage: page,
              totalItems: totalRecords
            }
    "
  >
    <app-github-repo-card [repo]="repo"></app-github-repo-card>
  </div>
  <div>
    <pagination-controls
      id="repo_pagination"
      (pageChange)="page = $event"
    ></pagination-controls>
  </div>
</div>
