<form
  (ngSubmit)="getRepo(); searchForm.reset()"
  #searchForm="ngForm"
  class="container mb-4"
>
  <label for="search">Search Repositories</label>
  <div class="input-group">
    <input
      class="form-control"
      type="text"
      id="search"
      [(ngModel)]="newSearch.search"
      name="search"
      #search="ngModel"
      required
    />

    <button
      type="submit"
      [disabled]="!searchForm.form.valid"
      class="btn btn-dark"
    >
      Search
    </button>
  </div>
  <div [hidden]="search.valid || search.pristine" class="alert alert-danger">
    <p>Search field cannot be empty</p>
  </div>
</form>
<div class="container">
  <div
    *ngFor="
      let repo of repos
        | paginate
          : {
              id: 'repo_pagination',
              itemsPerPage: 5,
              currentPage: page,
              totalItems: totalRecords
            }
    "
  >
    <app-github-repo-card [repo]="repo"></app-github-repo-card>
  </div>
  <div>
    <pagination-controls
      id="repo_pagination"
      (pageChange)="page = $event"
    ></pagination-controls>
  </div>
</div>
